/* FONT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f7fff8;
    color: #18352b;
    font-family: "Sarabun", sans-serif;
}


/* หัวข้อ */
h1, h2 {
    font-family: "Playfair Display", serif;
}

h2 {
    color: #b8860b;
    font-size: 45px;
    margin-bottom: 30px;
}



/* NAVBAR */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    background: rgba(255,255,255,0.75);
    backdrop-filter: blur(15px);

    border-bottom: 1px solid rgba(184,134,11,.3);
}


nav {
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;
}


nav h1 {
    color:#b8860b;
    letter-spacing:3px;
}


nav ul {
    display:flex;
    gap:25px;
    list-style:none;
}


nav a {

    text-decoration:none;
    color:#18352b;
    font-size:18px;

    transition:.3s;

}


nav a:hover {
    color:#b8860b;
}




/* HERO */

.hero {

    min-height:100vh;

    display:flex;
    align-items:center;
    justify-content:center;

    gap:80px;

    padding:120px 8%;

}



.profile img {

    width:330px;
    height:330px;

    object-fit:cover;

    border-radius:50%;

    border:5px solid #d4af37;

    box-shadow:
    0 0 20px #d4af37,
    0 0 50px #7cffb2;

}




.intro h2 {

    font-size:65px;

    color:#164d35;

}


.intro h3 {

    font-size:30px;

}


.intro p {

    font-size:22px;

}



.gold {

    color:#b8860b;

    letter-spacing:3px;

}





/* SECTION */

section {

    padding:100px 8%;

    text-align:center;

}




/* BOX */

.box {

    max-width:800px;

    margin:auto;

    padding:40px;

    background:white;

    border-radius:25px;


    box-shadow:
    0 0 20px rgba(124,255,178,.4);


    border:1px solid #d4af37;

    font-size:22px;

}





/* CARDS */

.cards {

    display:flex;

    justify-content:center;

    gap:30px;

    flex-wrap:wrap;

}



.card {

    width:330px;

    padding:35px;


    background:white;


    border-radius:25px;


    border:1px solid #d4af37;


    box-shadow:
    0 0 25px rgba(124,255,178,.5);


    transition:.4s;

}



.card:hover {

    transform:translateY(-15px);

    box-shadow:
    0 0 40px #7cffb2;

}



.card h3 {

    color:#b8860b;

    font-family:"Playfair Display";

    font-size:28px;

}





/* CERTIFICATE */


.gallery img {

    width:300px;

    border-radius:20px;

    border:3px solid #d4af37;

    box-shadow:
    0 0 30px #7cffb2;

}




/* FOOTER */

footer {

    text-align:center;

    padding:30px;

    background:#164d35;

    color:white;

}






/* MOBILE */

@media(max-width:768px){


nav {

    flex-direction:column;

}


nav ul {

    flex-wrap:wrap;

    justify-content:center;

}


.hero {

    flex-direction:column;

    text-align:center;

}


.profile img {

    width:230px;

    height:230px;

}


.intro h2 {

    font-size:45px;

}


h2 {

    font-size:35px;

}


}
